<h1 class="text-center">Liste des tâches du module {{taches[0].module.nom}}</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Nom</th>
      <th scope="col">Date début</th>
      <th scope="col">Date fin estimée</th>
      <th scope="col">Date fin réel</th>
      <th scope="col">Module</th>
      <th scope="col">Modifier</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let tache of taches">
      <td>{{tache.libelle}}</td>
      <td>{{tache.datedebut | date:'shortDate'}}</td>
      <td>{{tache.datefinestimee | date:'shortDate'}}</td>
      <td>{{tache.datefinreel | date:'shortDate'}}</td>
      <td>{{tache.module.nom}}</td>
      <td>
        <a routerLink="tache/update/{{tache.idtache}}" class="btn btn-primary">Modifier</a>
      </td>
    </tr>
  </tbody>
</table>
