<p>update-module works!</p>
<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center">Entrez le module à ajouter</h5>
          <form class="form-signin" *ngIf="updateModuleForm" [formGroup]="updateModuleForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <input type="hidden" formControlName="idmodule" class="form-control col-sm-10" id="idmodule"/>
            </div>
            <div class="form-group">
              <label for="nom">Nom :</label>
              <input type="text" formControlName="nom" class="form-control col-sm-10" id="nom" placeholder="Entrez le nom" />
            </div>
            <div class="form-group">
              <label for="datedebut">Date début :</label>
              <input type="date" formControlName="datedebut" class="form-control col-sm-10" id="datedebut" placeholder="Entrez la date de début " />
            </div>
            <div class="form-group">
              <label for="datefinestimee">Date de fin estimée :</label>
              <input type="date" formControlName="datefinestimee" class="form-control col-sm-10" id="datefinestimee" placeholder="Entrez la date de fin estimée " />
            </div>
            <div class="form-group">
              <label for="datefinreel">Date de fin réel :</label>
              <input type="date" formControlName="datefinreel" class="form-control col-sm-10" id="datefinreel" placeholder="Entrez la date de fin réel" />
            </div>
            <div class="form-group">
              <label class="mr-sm-2" for="idprojet">Choisir un projet :</label>
              <select formControlName="idprojet" id="idprojet" class="custom-select mr-sm-2">
                <option *ngFor="let projet of proj" value="{{projet.idprojet}}">{{projet.titre}}</option>
              </select>
            </div>

            <button type="submit" class="btn btn-primary">Envoyer</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
