<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Nom</th>
      <th scope="col">Supprimer</th>
      <th scope="col">Modifier</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let departement of departements">
      <td>{{departement.libelle}}</td>
      <td>
        <button (click)="onRemoveDepartement(departement.iddepartement)" class="btn btn-primary">Supprimer</button>
      </td>
      <td>
        <a routerLink="../update/{{departement.iddepartement}}" class="btn btn-primary">Modifier</a>
      </td>
    </tr>
  </tbody>
</table>
