<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center">Entrez la tâche à ajouter</h5>
          <form class="form-signin" *ngIf="updateTacheForm" [formGroup]="updateTacheForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <input type="hidden" formControlName="idtache" class="form-control col-sm-10" id="idtache"/>
            </div>
            <div class="form-group">
              <label for="libelle">Libelle <span class="text-danger">*</span> :</label>
              <input type="text" formControlName="libelle" class="form-control col-sm-10" id="libelle" placeholder="Entrez le libelle" />
            </div>
            <div class="form-group">
              <label for="datedebut">Date début <span class="text-danger">*</span> :</label>
              <input type="date" formControlName="datedebut" class="form-control col-sm-10" id="datedebut" placeholder="Entrez la date de début " />
            </div>
            <div class="form-group">
              <label for="datefinestimee">Date de fin estimée :</label>
              <input type="date" formControlName="datefinestimee" class="form-control col-sm-10" id="datefinestimee" placeholder="Entrez la date de fin estimée " />
            </div>
            <div class="form-group">
              <label for="datefinreel">Date de fin réel :</label>
              <input type="date" formControlName="datefinreel" class="form-control col-sm-10" id="datefinreel" placeholder="Entrez la date de fin réel" />
            </div>
            <div class="form-group">
              <label class="mr-sm-2" for="idmodule">Choisir un module <span class="text-danger">*</span> :</label>
              <select formControlName="idmodule" id="idmodule" class="custom-select mr-sm-2">
                <option *ngFor="let module of mod" value="{{module.idmodule}}">{{module.nom}}</option>
              </select>
            </div>

            <button type="submit" class="btn btn-primary">Envoyer</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
