<h1 class="text-center">Projet</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Nom client</th>
      <th scope="col">Code</th>
      <th scope="col">Titre</th>
      <th scope="col">Type</th>
      <th scope="col">Description</th>
      <th scope="col" data-toggle="modal" data-target="#triByDate">Date début</th>
      <th scope="col">Date fin estimée</th>
      <th scope="col">Date fin réel</th>
      <th scope="col">Détails projet</th>
      <th scope="col">Supprimer</th>
      <th scope="col">Modifier</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let projet of projets">
      <td>{{projet.client}}</td>
      <td>{{projet.code}}</td>
      <td>{{projet.titre}}</td>
      <td>{{projet.type}}</td>
      <td>{{projet.description}}</td>
      <td>{{projet.datedebut  | date:'shortDate'}}</td>
      <td>{{projet.datefinestimee  | date:'shortDate'}}</td>
      <td>{{projet.datefinreel  | date:'shortDate'}}</td>
      <td>
        <a routerLink="../{{projet.idprojet}}" class="btn btn-primary">Info projet</a>
      </td>
      <td>
        <button (click)="onRemoveProjet(projet.idprojet)" class="btn btn-primary">Supprimer</button>
      </td>
      <td>
        <a routerLink="../update/{{projet.idprojet}}" class="btn btn-primary">Modifier</a>
      </td>
    </tr>
  </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="triByDate" tabindex="-1" role="dialog" aria-labelledby="triByDateLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="triByDateLabel">Trier par date</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-signin" [formGroup]="triByDateForm">
          <div class="form-group">
            <label for="datedebut">Date début <span class="text-danger">*</span> :</label>
            <input type="date" formControlName="datedebut" class="form-control col-sm-10" id="datedebut" placeholder="Entrez date du projet" />
          </div>
          <div class="form-group">
            <label for="datefinestimee">Date fin <span class="text-danger">*</span> :</label>
            <input type="date" formControlName="datefinestimee" class="form-control col-sm-10" id="datefinestimee" placeholder="Entrez date fin estimée du projet" />
          </div>
            <button type="button" class="btn btn-primary" (click)="onSubmit()" data-dismiss="modal">Trier</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
